body{
    background-color: aliceblue;
}
h1{
    color: rgb(23, 22, 22);
    font-size: 40px;
    margin-left: 45%;    
}
h2{
color: rgb(23, 22, 22);
font-size: 25px;
margin-left: 42%;
margin-top: 1%;
}
