
.titulo{
    color: rgb(23, 22, 22);
    display: flex;
    align-items: center;
    justify-content: center;    
}
.senac{
    color: rgb(23, 22, 22);
    font-size: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nome{
    color: rgb(23, 22, 22);
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
